// 設定頁面與物件邊界為0，設定水平置中，物件與物件邊界為0
// 管理所有物件 最大階層

$W10: 100%; //100%的值

* {
    // 頁面與物件邊界，設定水平置中

    // 4個值分別是：上 右 下 左 ; 2個值分別為：上下 左右
    margin: 0 auto;
    // 物件與物件邊界
    padding: 0;
    // 隱藏項目符號
    list-style-type: none;
}

// 變數區
$NW: 100%; // 導覽列的寬 (Nav 的  Width)
$NH: 65px; // 導覽列的高
$W1: $W10 / 10 * 1;
$W2: $W10 / 10 * 2;
$W3: $W10 / 10 * 3;
$W4: $W10 / 10 * 4;
$W5: $W10 / 10 * 5;
$W6: $W10 / 10 * 6;
$W7: $W10 / 10 * 7;
$W8: $W10 / 10 * 8;
$W9: $W10 / 10 * 9;

$text: 16px; //設定文字尺寸的基礎值 單位 16px 或是 1rem(百分比)