// scss 繼承語法
// 繼承區
%Dn {
    display: none;
}
%Subnav {
    width: 50%;
    color: white;
}


// scss 巢狀語法
// 轉譯後為 後代選擇器 header nav #Portfolio {...}
header {
    nav {
        // 最上面只顯示 Logo 與 Menu，其餘不顯示
        // css3集合寫法
        #Portfolio, #About, #Project, #Contact {
            @extend %Dn;
        }
    }
}

footer {
    nav {
        #Graphic {
            background-color: indigo;
            @extend %Subnav;
        }
        #Web {
            background-color: royalblue;
            @extend %Subnav;
        }
        #Audio {
            background-color: green;
            @extend %Subnav;
        }
    }
}