// scss 繼承語法
// 繼承區
%Dn {
    display: none;
}

%Subnav {
    width: 50%;
    color: white;
}


// scss 巢狀語法
// 轉譯後為 後代選擇器 header nav #Portfolio {...}
header {
    nav {
        // Nav 的寬度高度變數傳回
        width: $NW;                                                                                                                                                       
        color: white;
        background-color: rgb(100, 100, 100);

        // 指向清單物件 li
        li {
            // 將 Logo 與 選單 排成一列，用 float
            // 缺點是會自動往上增加一層，如果上一層框架沒有設定高度，會被無視存在
            // 除了增加高度，可以使用 clear:both 移除浮點
            float: left;
        }
        .Clear {
            clear: both
        }
        #Logo {
            // 寬度分成8等分
            width: $W1 * 8 + 5%;
            // 文字尺寸，內縮、水平置中
            font-size: $text * 2;
            // 內縮方法一，首行縮排 (單行文字)
            text-indent: 30px;
            // 文字水平置中，行距設定 (父框架的高度 = 行距的數值) line-height: 80 * 0.15 + px;
            //方法1 父框架有高度時，父框架的高度 = 行距的數值;方法2 文字尺寸的倍數 + 3 (只限此程式中的框架)
            line-height: $text * ( 2 + 3 ); // 2是上面 font-size 的倍數2
        }
        #Menu {
            // 區塊分成2等分
            width: $W1 * 1 + 5%;
        }

        // 最上面只顯示 Logo 與 Menu，其餘不顯示
        // css3集合寫法
        #Portfolio, #About, #Project, #Contact {
            @extend %Dn;
        }
    }
}

footer {
    nav {
        #Graphic {
            background-color: indigo;
            @extend %Subnav;
        }
        #Web {
            background-color: royalblue;
            @extend %Subnav;
        }
        #Audio {
            background-color: green;
            @extend %Subnav;
        }
    }
}