// 需要此裝置的時候再設定

// scss 巢狀語法
// 轉譯後為 後代選擇器 header nav #Portfolio {...}

#Top {
	@include DN;
}

header {
	nav {
		// Nav 的寬度變數傳回
		width: $NW;
		height: $NH;
		
		// 停佇在畫面上方，不隨著畫面滑動而消失
		position: fixed;
		top: 0;
		// 階層
		z-index: 999;

		color: #bb3d00;
		background-color: #ffbd9d;
		// 指向清單物件 li
		li {
			// 將 Logo 與 選單 排成一列，用 float
			// 缺點是會自動往上增加一層，如果上一層框架沒有設定高度，會被無視存在
			// 除了增加高度，可以使用 clear:both 移除浮點
			float: left;
		}
		.Clear {
			clear: both;
		}
		#Logo {
			// 寬度分成 9 等分
			width: $W1 * 9;
			// 文字尺寸，內縮、水平置中
			font-size: $text * 2;
			// 內縮方法一，首行縮排 (單行文字)
			text-indent: 30px;
			// 文字重直置中
			text-align: center;
			// 文字水平置中，行距設定 (父框架的高度 = 行距的數值) line-height: 80 * 0.15 + px;
			//方法1 父框架有高度時，父框架的高度 = 行距的數值;方法2 文字尺寸的倍數 + 3 (只限此程式中的框架)
			line-height: $NH; // 2是上面 font-size 的倍數2
		}
		#Menu {
			// 區塊分成 1 等分
			width: $W1;
			text-align: center;
			line-height: $NH;
			@include BgText(contain);
			// 背景圖片連結
			background-image: url(../../images/icon/000001.svg);
			background-color: rgb(75, 72, 72);
		}

		// 最上面只顯示 Logo 與 Menu，其餘不顯示
		// css3集合寫法
		#Portfolio,
		#About,
		#Project,
		#Contact {
			// @extend %Dn;
			//呼叫 @mixin
			@include DN;
		}
	}

	// 手機版的導覽列
	#MobileNav {
		width: $WPer * 10;
		// 高度單位 vh (裝置的可視高度)
		height: 100vh;
		// 定位點 絕對定位 設定階層
		position: absolute;
		z-index: 9999;
		top: $NH; // 導覽列開啟，往下滑動不會跑出縫隙
		display: none;
		// 導覽列停佇
		position: fixed;
		background-color: tomato;
		text-decoration: none;
		// 讓導覽列蓋過 Nav
		// top: 0;

		> li {
			width: $WPer * 7.5;
			margin: {
				top: 35px;
			};
			> a {
				color: white;
				font-size: $Em * 1.7;
			}
		};

		> .Close {
			width: $WPer * 1.2;
			font-size: $Em * 1.5;
			color: seagreen;
			font-weight: 600;
			// background-color: snow;
			text-align: right;
			margin-right: $WPer * 0.5;
		}
	}

	#BannerBox {
		// 輪播圖片 超小與小裝置 100% * 375px
		width: $W10;
		// 超出範圍設定，能滑動X軸，讓圖片在框架中左右滑動
		overflow: hidden;
		background-color: cornflowerblue;
		// 導覽固定在上方，會形成浮動狀態，故廣告區的上方要用 外間距 設定為高度
		margin: {
			top: $NH;
		}

		// 階層
		// z-index: 99;
		// 相對定位 (移動物件的定位點) -- 重新定位
		position: relative;

		// 輪播圖左右按鈕
		> .Arrow {
			width: $WPer * 10;
			// 相對定位
			position: absolute;
			// 層級
			z-index: 15;
			// 文字尺寸
			font-size: $Em * 1.8;
			// 水平置中
			text-align: center;
			// 垂直置中
			line-height: 120px;
			// 設定為 50% 位置
			top: 50%;
			// 外間距
			margin: {
				top: -60px;
			}
			display: flex;

			> .arrow {
				width: $WPer * 0.6;
				height: 120px;
				// 圓角矩形
				border-radius: 20px;
				background-color: slategray;
				// 定位點 停佇
				// position: fixed;
			}

			> .Larrow {	
				// 靠左
				left: 10px;
				margin-left: 12px;
			}

			> .Rarrow {
				// 靠右
				right: 10px;
				margin-right: 12px;
			}
		}

		// 輪播區 按鈕
		> .RadioBox {
			width: $WPer * 10;

			> input {
					@include DN;
				};

			// 控制按鈕
			> .Controls_Visible {
				width: $W1 * 10;
				position: absolute;
				text-align: center;
				bottom: 12px;

				label {
					// 顯示方式 行內區塊
					display: inline-block;
					// 寬度與高度 同數值為正
					width: 10px;
					height: 10px;
					// 物件的左右間距
					margin: 0 5px;
					// 背景顏色
					background-color: white;
					// 圓角 正圓
					border-radius: 50%;
					// 框線
					border: 2px solid white;
				}
			}

			// 轉換控制按鈕顏色 「~」連結同層元素，形成連動
			> input[type="radio"]:nth-of-type(1):checked
			~ .Controls_Visible
			label:nth-of-type(1) {
				background-color: darkslategray;
			}

			> input[type="radio"]:nth-of-type(2):checked
			~ .Controls_Visible
			label:nth-of-type(2) {
				background-color: darkslategray;
			}

			> input[type="radio"]:nth-of-type(3):checked
			~ .Controls_Visible
			label:nth-of-type(3) {
				background-color: darkslategray;
			}

			> input[type="radio"]:nth-of-type(4):checked
			~ .Controls_Visible
			label:nth-of-type(4) {
				background-color: darkslategray;
			}

			> input[type="radio"]:nth-of-type(5):checked
			~ .Controls_Visible
			label:nth-of-type(5) {
				background-color: darkslategray;
			}

			// 控制按按鈕 輪播圖會跑到按的那張圖的位置
			// > input[type="radio"]:nth-of-type(1):checked
			// ~ .ImgBox
			// > a
			// >.SmallImg {
			// 	transform: translateX(0vw);
			// }

			// > input[type="radio"]:nth-of-type(2):checked
			// ~ .ImgBox
			// > a
			// >.SmallImg {
			// 	transform: translateX(-100vw);
			// }> input[type="radio"]:nth-of-type(3):checked
			// ~ .ImgBox
			// > a
			// >.SmallImg {
			// 	transform: translateX(-200vw);
			// }> input[type="radio"]:nth-of-type(4):checked
			// ~ .ImgBox
			// > a
			// >.SmallImg {
			// 	transform: translateX(-300vw);
			// }> input[type="radio"]:nth-of-type(5):checked
			// ~ .ImgBox
			// > a
			// >.SmallImg {
			// 	transform: translateX(-400vw);
			// }
		}

		// 控制按鈕
		> .Controls_Visible {
			position: absolute;
			width: $W1 * 10;
			text-align: center;
			bottom: 12px;

			label {
				// 顯示方式 行內區塊
				display: inline-block;
				// 寬度與高度 同數值為正
				width: 10px;
				height: 10px;
				// 物件的左右間距
				margin: 0 5px;
				// 背景顏色
				background-color: white;
				// 圓角 正圓
				border-radius: 50%;
				// 框線
				border: 2px solid white;
			}
		}
		
		.ImgBox {
			// 圖片框的寬度尺寸
			width: $W10 * 5;
			// 呼叫動畫 動畫名稱 總秒數 播放次數(無限播放) 反向播放
			// animation: move 25s infinite alternate;
			.SmallImg {
				width: 100vw;
				float: left;
			}
			// > .SmallImg:hover {
			// 	animation-play-state: paused;
			// }
			// .Box1 {
			//     background-color: burlywood;
			// }
			// .Box2 {
			//     background-color: goldenrod;
			// }
			// .Box3 {
			//     background-color: darkolivegreen;
			// }
			// .Box4 {
			//     background-color: chocolate;
			// }
			// .Box5 {
			//     background-color: tan;
			// }
		}
	}
}

footer {
	.HRLine {
		// 上邊界與下邊界，讓 main 與 footer 有點區隔
		margin: {
			// 減少空白
			// top: 15px;
			bottom: 15px;
		};
	}
	nav {
		width: $W1 * 7;
		// 彈性布局 設定方式；設定在要排列物件的父框架
		display: flex;
	}

	// 彈性布局 order 重新設定排列順序
	#Graphic {
		order: 3;
	}
	.LeftLine {
		order: 2;
	}
	#Web {
		order: 1;
	}
	.RightLine {
		order: 4;
	}
	#Audio {
		order: 5;
	}

	address {
		width: $W1 * 4;
		// 彈性布局
		display: flex;
		// 上邊界 nav 與 address 的距離
		margin: {
			top: 10px;
			bottom: 20px;
		}
		.Line {
			width: $W1 * 2;
			height: 30px;
		}
	}

	h6 {
		// 文字置中
		text-align: center;
		// 文字尺寸
		font-size: $text * 0.8;
		// 文字粗細
		font-weight: 200;
		background-color: chocolate;
	}
}

#main {

	// > #PortfolioBox {
	// 	> h1 {
	// 		text-align: center;
	// 		font-size: $Em * 2;
	// 		padding: {
	// 			top: 10px;
	// 			bottom: 10px;
	// 		};
	// 	}
	// }

	> #AboutBox {
		background-image: url(../../images/bg/bg1.gif);
		> h1 {
			text-align: center;
			font-size: $Em * 2;
			padding: {
				top: 10px;
				bottom: 10px;
			};
		}

		> .AboCon {
			width: 90%;
			padding-bottom: 15px;
			background-color: rgb(228, 223, 158);
			line-height: $text * 1.4;

			> div {

				margin: {
					left: 5%;
					right: 5%;
				}
				border-width: 2px;
				// border-style:groove;
				// border-color: black;

				> .skill {
					font-weight: 600;
					margin-left: 5%;
					color: darkcyan;
				}

				> .exp {
					font-weight: 600;
					margin-left: 5%;
					color: darkcyan;
				}
			}
		}
	}

	> #ProjectBox {
		> h1 {
			text-align: center;
			font-size: $Em * 2;
			padding: {
				top: 10px;
				bottom: 10px;
			};
		}
	}

	#ContactBox {

		background-image: url(../../images/bg/bg1.gif);
		// 標題
		#ContactTitle {
			// 外間距 margin ；上間距無法將物件與父框架，顯示設定的距離，故改用 內間距 padding 設定
			padding: {
				top: 10px;
				bottom: 10px;
			}
		}

		form {

			// 寬度 左右留白
			width: $W1 * 6.5;
			// 繼承 單獨為表單使用
			%PI_Ls {
				padding: {
					top: 10px;
					// 表單與頁尾之間的距離
					bottom: 15px;
				};
				margin: {
					bottom: 5px;
				}
			}

			%TitlM_Ls {
				margin: {
					bottom: 10px;
				}
			}

			%TInputInBox_Ls {
				width: $WPer * 10;
				height: 30px;
				font-size: $Em;
				// 內間距
				padding: {
					left: 10px;
				}
				// 使用者輸入後會看到的樣式
				color: darkblue;
				// 文字的粗細
				font-weight: 600;
			}

			%BtnSR_Ls {
				width: 100px;
				height: 35px;
				font-size: $Em * 0.9;
				color: white;
				// 按鈕平面化，邊框線段為 0 
				border: 0;
				// 圓角
				border-radius: 15px;
			}

			// 子元素選擇器
			> div {
				@extend %PI_Ls;
				font-size: $Em * 1.4;
			}

			> #NameBox {
				// 彈性佈局
				display: flex;
				flex-wrap: wrap;
				> label {
					width: $WPer * 10;
					@extend %TitlM_Ls;
				}
				> input {
					@extend %TInputInBox_Ls;
				}
				// 偽類別，使用者觀看到的樣式
				> input[type=text]::placeholder {
					color: gray;
					// font-weight: 600;
				}
			}

			> .Mail {
				display: flex;
				flex-wrap: wrap;
				> label {
					width: $WPer * 10;
					@extend %TitlM_Ls;
				}
				> input {
					@extend %TInputInBox_Ls;
				}
			}

			> .Ques {
				// 彈性佈局
				display: flex;
				// 換行
				flex-wrap: wrap;

				> p {
					// 寬度
					width: $WPer * 10;
					// 外間距
					@extend %TitlM_Ls;
				}
				> li {
					// 寬度
					width: $WPer * 5;
					margin: {
						bottom: 15px;
					}
					text-align: center;
				}
			}

			> .TextArea {
				> li {
					width: $WPer * 10;
					@extend %TitlM_Ls;
				}
				> textarea {
					width: $WPer * 10;
					font-size: $Em;
				}
			}

			> .FormBtm {
				width: $WPer * 10;
				display: flex;
				margin:  {
					bottom: 0;
				}

				> input[type=submit] {
					@extend %BtnSR_Ls;
					order: 2;
					background-color: rgb(238, 17, 1);
				}

				> input[type=reset] {
					@extend %BtnSR_Ls;
					order: 1;
					background-color: rgb(9, 107, 236);
				}
			}

			.E_mail2 {
				@include DN;
			}
		}
	}
}