// scss 巢狀語法
// 轉譯後為 後代選擇器 header nav #Portfolio {...}
header {
	nav {
		// Nav 的寬度變數傳回
		width: $NW;
		color: #bb3d00;
		background-color: #ffbd9d;

		// 指向清單物件 li
		li {
			// 將 Logo 與 選單 排成一列，用 float
			// 缺點是會自動往上增加一層，如果上一層框架沒有設定高度，會被無視存在
			// 除了增加高度，可以使用 clear:both 移除浮點
			float: left;
		}
		.Clear {
			clear: both;
		}
		#Logo {
			// 文字重直置中
			text-align: center;
			// 不內縮
			text-indent: 0;
		}
		#Menu {
			// 區塊分成 1 等分
			width: $W1;
			text-align: center;
			line-height: $NH;
			@include BgText;
			// 背景圖片連結
			background-image: url(../../images/icon/000001.svg);
			background-color: rgb(75, 72, 72);
		}

		// 最上面只顯示 Logo 與 Menu，其餘不顯示
		// css3集合寫法
		#Portfolio,
		#About,
		#Project,
		#Contact {
			// @extend %Dn;
			//呼叫 @mixin
			@include DN;
		}
	}
	#BannerBox {
		// 輪播圖片 超小與小裝置 100% * 375px
		width: $W10;
		// 超出範圍設定，能滑動X軸，讓圖片在框架中左右滑動
		overflow-x: auto;
		background-color: cornflowerblue;
		// 讀取 03Small 的資料

			// .Box1 {
			//     background-color: burlywood;
			// }
			// .Box2 {
			//     background-color: goldenrod;
			// }
			// .Box3 {
			//     background-color: darkolivegreen;
			// }
			// .Box4 {
			//     background-color: chocolate;
			// }
			// .Box5 {
			//     background-color: tan;
			// }
		}
	}

footer {
	nav {

	}
}
