@charset "UTF-8";
/*
    網頁使用的單位
    寬度 高度 行距 文字 物件的距離(外間距與內間距)，只要能計算的值，都有單位
    基礎單位 像素(px)
    響應式網頁的單位 百分比(%) vw與vh(裝置可視寬度與高度，新單位)
    百分比(%)的缺點，舊瀏覽器(IE)不支援；MAC瀏覽器(Safari)，因為手機版需要扣除瀏覽器自帶按鈕功能(在畫面下方)。
    行距 文字，百分比的單位 em (子物件的設定值會疊加父物件的設定值) 和 rem (不受父物件設定值影響)。
*/
@import url(https://fonts.googleapis.com/earlyaccess/cwtexhei.css);
* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-family: "cwTeXYen", sans-serif, "微軟正黑體";
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #808040;
}

a:hover {
  color: #CD853F;
  font-weight: 520;
}

@media screen and (max-width: 576px) {
  #Top {
    display: none;
  }
  header nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    color: #bb3d00;
    background-color: #ffbd9d;
  }
  header nav li {
    float: left;
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Logo {
    width: 85vw;
    font-size: 32px;
    text-indent: 30px;
    text-align: center;
    line-height: 65px;
  }
  header nav #Menu {
    width: 15vw;
    text-align: center;
    line-height: 65px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/icon/000001.svg);
    background-color: #4b4848;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: none;
  }
  header #MobileNav {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: tomato;
    text-decoration: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: cornflowerblue;
    margin-top: 65px;
  }
  header #BannerBox > .Arrow {
    width: 100%;
    position: absolute;
    z-index: 5;
    font-size: 1.8em;
    text-align: center;
    line-height: 80px;
    top: 43.05556%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #BannerBox > .Arrow > .arrow {
    width: 6%;
    height: 80px;
    border-radius: 20px;
    background-color: slategray;
  }
  header #BannerBox > .Arrow > .Larrow {
    margin-left: 10px;
  }
  header #BannerBox > .Arrow > .Rarrow {
    margin-right: 10px;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }
  footer .HRLine {
    margin-bottom: 15px;
  }
  footer nav {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #Graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .LeftLine {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #Web {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .RightLine {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #Audio {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .Line {
    width: 20vw;
    height: 30px;
  }
  footer h6 {
    text-align: center;
    font-size: 12.8px;
    font-weight: 200;
    background-color: chocolate;
  }
  #main #ContactBox {
    background-image: url(../../images/bg/bg1.gif);
  }
  #main #ContactBox #ContactTitle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #main #ContactBox form {
    width: 80vw;
  }
  #main #ContactBox form > div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #main #ContactBox form > #NameBox > label, #main #ContactBox form > .Mail > label, #main #ContactBox form > .Ques > p, #main #ContactBox form > .TextArea > li {
    margin-bottom: 10px;
  }
  #main #ContactBox form > #NameBox > input, #main #ContactBox form > .Mail > input {
    width: 100%;
    height: 30px;
    font-size: 1em;
    padding-left: 10px;
    color: darkblue;
    font-weight: 600;
  }
  #main #ContactBox form > .FormBtm > input[type=submit], #main #ContactBox form > .FormBtm > input[type=reset] {
    width: 100px;
    height: 35px;
    font-size: 0.9em;
    color: white;
    border: 0;
    border-radius: 15px;
  }
  #main #ContactBox form > div {
    font-size: 1.2em;
  }
  #main #ContactBox form > #NameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > #NameBox > label {
    width: 100%;
  }
  #main #ContactBox form > #NameBox > input[type=text]::-webkit-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]:-ms-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]::-ms-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]::placeholder {
    color: gray;
  }
  #main #ContactBox form > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Mail > label {
    width: 100%;
  }
  #main #ContactBox form > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Ques > p {
    width: 100%;
  }
  #main #ContactBox form > .Ques > li {
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
  }
  #main #ContactBox form > .TextArea > li {
    width: 100%;
  }
  #main #ContactBox form > .TextArea > textarea {
    width: 100%;
    font-size: 1em;
  }
  #main #ContactBox form > .FormBtm {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  #main #ContactBox form > .FormBtm > input[type=submit] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #ee1101;
  }
  #main #ContactBox form > .FormBtm > input[type=reset] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #096bec;
  }
  #main #ContactBox form .E_mail2 {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  #Top {
    display: none;
  }
  header nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
  }
  header nav li {
    float: left;
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Logo {
    width: 90vw;
    font-size: 32px;
    text-indent: 30px;
    text-align: center;
    line-height: 65px;
  }
  header nav #Menu {
    width: 10vw;
    text-align: center;
    line-height: 65px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/icon/000001.svg);
    background-color: #4b4848;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: none;
  }
  header #MobileNav {
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    text-decoration: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: cornflowerblue;
    margin-top: 65px;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }
  footer .HRLine {
    margin-bottom: 15px;
  }
  footer nav {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #Graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .LeftLine {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #Web {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .RightLine {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #Audio {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .Line {
    width: 20vw;
    height: 30px;
  }
  footer h6 {
    text-align: center;
    font-size: 12.8px;
    font-weight: 200;
    background-color: chocolate;
  }
  #main #ContactBox {
    background-image: url(../../images/bg/bg1.gif);
  }
  #main #ContactBox #ContactTitle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #main #ContactBox form {
    width: 65vw;
  }
  #main #ContactBox form > div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #main #ContactBox form > #NameBox > label, #main #ContactBox form > .Mail > label, #main #ContactBox form > .Ques > p, #main #ContactBox form > .TextArea > li {
    margin-bottom: 10px;
  }
  #main #ContactBox form > #NameBox > input, #main #ContactBox form > .Mail > input {
    width: 100%;
    height: 30px;
    font-size: 1em;
    padding-left: 10px;
    color: darkblue;
    font-weight: 600;
  }
  #main #ContactBox form > .FormBtm > input[type=submit], #main #ContactBox form > .FormBtm > input[type=reset] {
    width: 100px;
    height: 35px;
    font-size: 0.9em;
    color: white;
    border: 0;
    border-radius: 15px;
  }
  #main #ContactBox form > div {
    font-size: 1.4em;
  }
  #main #ContactBox form > #NameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > #NameBox > label {
    width: 100%;
  }
  #main #ContactBox form > #NameBox > input[type=text]::-webkit-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]:-ms-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]::-ms-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]::placeholder {
    color: gray;
  }
  #main #ContactBox form > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Mail > label {
    width: 100%;
  }
  #main #ContactBox form > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Ques > p {
    width: 100%;
  }
  #main #ContactBox form > .Ques > li {
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
  }
  #main #ContactBox form > .TextArea > li {
    width: 100%;
  }
  #main #ContactBox form > .TextArea > textarea {
    width: 100%;
    font-size: 1em;
  }
  #main #ContactBox form > .FormBtm {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  #main #ContactBox form > .FormBtm > input[type=submit] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #ee1101;
  }
  #main #ContactBox form > .FormBtm > input[type=reset] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #096bec;
  }
  #main #ContactBox form .E_mail2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header nav {
    width: 100%;
    color: #bb3d00;
    background-color: #ffbd9d;
  }
  header nav li {
    float: left;
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Logo {
    text-align: center;
    text-indent: 0;
  }
  header nav #Menu {
    width: 10vw;
    text-align: center;
    line-height: 65px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/icon/000001.svg);
    background-color: #4b4848;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: cornflowerblue;
  }
}

@media screen and (min-width: 992px) {
  #Top {
    display: none;
    position: absolute;
    z-index: 20;
    width: 60px;
    height: 60px;
    background-color: wheat;
    position: fixed;
    bottom: 50px;
    right: 0;
  }
  header nav {
    width: 100%;
    color: #808040;
    background-color: #cac4bf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
  }
  header nav #Logo {
    width: 30vw;
  }
  header nav li {
    width: 17.5vw;
  }
  header nav #Logo {
    text-align: center;
    font-size: 40px;
    text-indent: 0;
    color: #bb3d00;
    background-color: #ffbd9d;
  }
  header nav li {
    text-align: center;
    font-size: 20.8px;
    line-height: 68.8px;
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: block;
  }
  header nav #Menu {
    display: none;
  }
  header nav #MobileNav {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    margin-top: 0;
  }
  #main #ContactBox {
    background-image: url(../../images/bg/bg1.gif);
  }
  #main #ContactBox #ContactTitle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #main #ContactBox form {
    width: 53vw;
  }
  #main #ContactBox form > div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #main #ContactBox form > #NameBox > label, #main #ContactBox form > .Mail > label, #main #ContactBox form > .Ques > p, #main #ContactBox form > .TextArea > li {
    margin-bottom: 10px;
  }
  #main #ContactBox form > #NameBox > input, #main #ContactBox form > .Mail > input {
    width: 100%;
    height: 30px;
    font-size: 1em;
    padding-left: 10px;
    color: darkblue;
    font-weight: 600;
  }
  #main #ContactBox form > .FormBtm > input[type=submit], #main #ContactBox form > .FormBtm > input[type=reset] {
    width: 100px;
    height: 35px;
    font-size: 0.9em;
    color: white;
    border: 0;
    border-radius: 15px;
  }
  #main #ContactBox form > div {
    font-size: 1.2em;
  }
  #main #ContactBox form > #NameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > #NameBox > label {
    width: 100%;
  }
  #main #ContactBox form > #NameBox > input[type=text]::-webkit-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]:-ms-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]::-ms-input-placeholder {
    color: gray;
  }
  #main #ContactBox form > #NameBox > input[type=text]::placeholder {
    color: gray;
  }
  #main #ContactBox form > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Mail > label {
    width: 100%;
  }
  #main #ContactBox form > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Ques > p {
    width: 100%;
  }
  #main #ContactBox form > .Ques > li {
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
  }
  #main #ContactBox form > .TextArea > li {
    width: 100%;
  }
  #main #ContactBox form > .TextArea > textarea {
    width: 100%;
    font-size: 1em;
  }
  #main #ContactBox form > .FormBtm {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  #main #ContactBox form > .FormBtm > input[type=submit] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #ee1101;
  }
  #main #ContactBox form > .FormBtm > input[type=reset] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #096bec;
  }
  #main #ContactBox form .E_mail2 {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  header nav {
    width: 100%;
    color: #808040;
    background-color: #cac4bf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #Logo {
    width: 30vw;
  }
  header nav li {
    width: 17.5vw;
  }
  header nav #Logo {
    text-align: center;
    font-size: 40px;
    text-indent: 0;
    color: #bb3d00;
    background-color: #ffbd9d;
  }
  header nav li {
    text-align: center;
    font-size: 20.8px;
    line-height: 68.8px;
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: block;
  }
  header nav #Menu {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: cornflowerblue;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }
}

@media screen and (min-width: 1400px) {
  header nav {
    width: 100%;
    color: #808040;
    background-color: #cac4bf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #Logo {
    width: 30vw;
  }
  header nav li {
    width: 17.5vw;
  }
  header nav #Logo {
    text-align: center;
    font-size: 40px;
    text-indent: 0;
    color: #bb3d00;
    background-color: #ffbd9d;
  }
  header nav li {
    text-align: center;
    font-size: 20.8px;
    line-height: 68.8px;
  }
  header nav .Clear {
    clear: both;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: block;
  }
  header nav #Menu {
    display: none;
  }
  #main > #ContactBox > form {
    width: 45%;
  }
}
/*# sourceMappingURL=style.css.map */